<!DOCTYPE html>

<html xmlns:th="http://www.tymeleaft.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minumum-scale=1.0">
  <title> Cadastro de Usuários</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

  <script type="text/javascript" th:src = "@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src = "@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/javascript/common_form.js}"></script>

</head>
<body>
<div>
  <div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/logo.png}"/>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/usuarios}">Usuários</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/categorias}">Categórias</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/marcas}">Marcas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/produtos}">Produtos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/artigos}">Artigos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/clientes}">Clientes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/clientes}">Envios</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/menus}">Menus</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/relatoriosVenda}">Relatório de vendas</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid">
  <h1> Cadastro|Usuários</h1>
</div>

<div>
  <form onsubmit="return checkEmailUnique(this);" th:action="@{/usuarios/salvar}"method="post"style="max-width:900px; margin: 0 auto" th:object="${user}">
    <div class="border border-secondary rounded p-3">

      <div class="form-group-row">
        <label class="col-sm-4 col-form-label">E-mail</label>
        <div class="col-sm-8">
        <input type="email" class="form-control" th:field="*{email}" required minlength="8"  maxlength="128" />
        </div>
      </div>

      <div class="form-group-row">
        <label class="col-sm-4 col-form-label">Nome</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:field="*{firstName}" required minlength="4"  maxlength="45" />
        </div>
      </div>

      <div class="form-group-row">
        <label class="col-sm-4 col-form-label">SobreNome</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:field="*{lastName}" required minlength="4"  maxlength="45" />
        </div>
      </div>

      <div class="form-group-row">
        <label class="col-sm-4 col-form-label">Senha</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" th:field="*{password}" required minlength="8"  maxlength="20" />
        </div>
      </div>

      <div class="form-group-row">
        <label class="col-sm-4 col-form-label">Status</label>
        <div class="col-sm-8">
            <input type="checkbox" th:field="*{enabled}" />
        </div>
      </div>

      <div class="form-group-row">
        <label class="col-sm-4 col-form-label">Tipos de Acesso</label>
        <div class="col-sm-8">
         <th:block th:each="role:${listRoles}">
           <input type="checkbox" th:field="*{roles}"
           th:text="${role.name}" th:Value="${role.code}"
           />
           - <small>[[${role.description}]]</small>
           <br/>
         </th:block>
        </div>
      </div>

      <div class="text-center">
        <input type="submit" value="Salvar" class="btn btn-primary m-3"/>
        <input type="button" value="Cancelar" class="btn btn-secundary" id="buttonCancel"/>
      </div>

    </div>
  </form>

<div class="modal fade text-center" id="modalDialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle">Atenção</h4>
        <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <span id="modalBody"></span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnCloseModal"  data-dismiss="modal">Sair</button>
      </div>

    </div>

  </div>
</div>

</div>
<script type="text/javascript">
 $(document).ready(function() {
  $("#buttonCancel").on("click",function() {
        window.location = "[[@{/usuarios}]]";
    });
  });
</script>

<script type="text/javascript">
  function checkEmailUnique(form) {
			url = "[[@{/rest/check-email}]]";
			userEmail = $("#email").val();
			userId = $("#id").val();
			csrfValue = $("input[name='_csrf']").val();

			params = {id: userId, email: userEmail, _csrf: csrfValue};

			$.post(url, params, function(response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					showWarningModal("Este email ja está cadastrado no sistema: " + userEmail);
				} else {
					showErrorModal("Erro ao fazer a requisição com o servidor");
				}
			}).fail(function() {
				showErrorModal("Não foi possivel fazer a conexão com o servidor, contate o administrador do sistema");
			});

			return false;
		}
</script>



</body>
</html>