<!DOCTYPE html>

<html xmlns:th="http://www.tymeleaft.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minumum-scale=1.0">
  <title> Cadastro de Usuários</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />

  <script type="text/javascript" th:src = "@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src = "@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit-icons.min.js"></script>
  <script th:src="@{/javascript/common_form.js}"></script>

</head>
<body>
<div>
  <nav class="uk-navbar-container">
    <div class="uk-container">
      <div uk-navbar>
        <div class="uk-navbar-center">
          <div class="uk-navbar-center-left">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a th:href="@{/usuarios}">Usuários</a></li>
              <li class="uk-active"><a th:href="@{/categorias}">Categórias</a></li>
              <li class="uk-active"><a th:href="@{/marcas}">Marcas</a></li>
              <li class="uk-active"><a th:href="@{/produtos}">Produtos</a></li>
              <li class="uk-active"><a th:href="@{/artigos}">Artigos</a></li>
            </ul>
          </div>
          <a class="uk-navbar-item uk-logo" href="#">
            <img width="110px" th:src="@{/images/logo.png}">
          </a>
          <div class="uk-navbar-center-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a th:href="@{/clientes}">Clientes</a></li>
              <li class="uk-active"><a th:href="@{/envios}">Envios</a></li>
              <li class="uk-active"><a th:href="@{/menus}">Menus</a></li>
              <li class="uk-active"><a th:href="@{/vendas}">Relatório de vendas</a></li>
              <li class="uk-active"><a th:href="@{/produtos}">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="uk-section uk-section-primary">
  <div class="uk-container">
    <h3>Cadastro de Usuários</h3>
    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Rotina responsável para cadastro de usuários, apartir dessa rotina será possivel realizar as demais operações no sistema</p>
      </div>
      <div>
        <p>Utilize também para edição de usuários do sistema, apartir dessa rotina será possivel realizar as demais operações no sistema</p>
      </div>
      <div>
        <p>Preencha os campos solicitados abaixo para prosseguir também no cadastro de usuários, não se esqueça de selecionar os tipos de acessos</p>
      </div>
    </div>
  </div>
</div>
<div>
<br>
  <form class="uk-grid-small" uk-grid onsubmit="return checkEmailUnique(this);" th:action="@{/usuarios/salvar}"method="post"style="max-width:900px; margin: 0 auto" th:object="${user}">

    <div class="uk-width-1-1">
      <div class="uk-form-label">Email</div>
      <input  th:field="*{email}" required minlength="8"  maxlength="128" class="uk-input" type="text" aria-label="Clickable icon">
    </div>

    <div class="uk-width-1-2@s">
      <div class="uk-form-label">Primeiro Nome</div>
      <input type="text" class="form-control" th:field="*{firstName}" required minlength="4"  maxlength="45" />
    </div>

    <div class="uk-width-1-4@s">
      <div class="uk-form-label">Segundo nome</div>
      <input type="text" class="form-control" th:field="*{lastName}" required minlength="4"  maxlength="45" />
    </div>

    <div class="uk-width-1-4@s">
      <div class="uk-form-label">Senha</div>
      <input type="password" class="form-control" th:field="*{password}" required minlength="8"  maxlength="20" />
    </div>

    <div class="uk-margin">
      <div class="uk-form-label">Acessos</div>
      <div class="uk-form-controls uk-form-controls-text">
        <th:block th:each="role:${listRoles}">
          <label>
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.name}" th:Value="${role.code}"
            />
          </label>
          - <small>[[${role.description}]]</small>
          <br/>
        </th:block>
      </div>
    </div>



    <div class="uk-width-1-2@s">
      <div class="uk-form-label">Ativo</div>
      <input type="checkbox" th:field="*{enabled}" />
    </div>

    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="submit">Salvar</button>
    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"  id="buttonCancel">Cancelar</button>


  </form>

<div class="modal fade text-center" id="modalDialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle">Atenção</h4>
        <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <span id="modalBody"></span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnCloseModal"  data-dismiss="modal">Sair</button>
      </div>

    </div>

  </div>
</div>

</div>
<script type="text/javascript">
 $(document).ready(function() {
  $("#buttonCancel").on("click",function() {
        window.location = "[[@{/usuarios}]]";
    });
  });
</script>

<script type="text/javascript">
  function checkEmailUnique(form) {
			url = "[[@{/rest/check-email}]]";
			userEmail = $("#email").val();
			userId = $("#id").val();
			csrfValue = $("input[name='_csrf']").val();

			params = {id: userId, email: userEmail, _csrf: csrfValue};

			$.post(url, params, function(response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					showWarningModal("Este email ja está cadastrado no sistema: " + userEmail);
				} else {
					showErrorModal("Erro ao fazer a requisição com o servidor");
				}
			}).fail(function() {
				showErrorModal("Não foi possivel fazer a conexão com o servidor, contate o administrador do sistema");
			});

			return false;
		}
</script>



</body>
</html>