<!DOCTYPE html>

<html xmlns:th="http://www.tymeleaft.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minumum-scale=1.0">
    <title> Bem vindo ao Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <script type="text/javascript" th:src = "@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src = "@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<div>
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-center">
                    <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#"></a>

                    <div class="uk-navbar-dropdown uk-hidden@m" uk-dropdown="mode: click; pos: bottom-justify;">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a th:href="@{/usuarios}">Usuários</a></li>
                            <li class="uk-active"><a th:href="@{/categorias}">Categorias</a></li>
                            <li class="uk-active"><a th:href="@{/marcas}">Marcas</a></li>
                            <li class="uk-active"><a th:href="@{/produtos}">Produtos</a></li>
                            <li class="uk-active"><a th:href="@{/artigos}">Artigos</a></li>
                            <li class="uk-active"><a th:href="@{/clientes}">Clientes</a></li>
                            <li class="uk-active"><a th:href="@{/envios}">Envios</a></li>
                            <li class="uk-active"><a th:href="@{/menus}">Menus</a></li>
                            <li class="uk-active"><a th:href="@{/vendas}">Relatório de vendas</a></li>
                            <li class="uk-active"><a th:href="@{/produtos}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-center-left">
                        <ul class="uk-navbar-nav uk-visible@m" >
                            <li class="uk-active"><a th:href="@{/usuarios}">Usuários</a></li>
                            <li class="uk-active"><a th:href="@{/categorias}">Categórias</a></li>
                            <li class="uk-active"><a th:href="@{/marcas}">Marcas</a></li>
                            <li class="uk-active"><a th:href="@{/produtos}">Produtos</a></li>
                            <li class="uk-active"><a th:href="@{/artigos}">Artigos</a></li>
                        </ul>
                    </div>
                    <a class="uk-navbar-item uk-logo"  th:href="@{/}">
                        <img width="110px" th:src="@{/images/logo.png}">
                    </a>
                    <div class="uk-navbar-center-right">
                        <ul class="uk-navbar-nav uk-visible@m">
                            <li class="uk-active"><a th:href="@{/clientes}">Clientes</a></li>
                            <li class="uk-active"><a th:href="@{/envios}">Envios</a></li>
                            <li class="uk-active"><a th:href="@{/menus}">Menus</a></li>
                            <li class="uk-active"><a th:href="@{/vendas}">Relatório de vendas</a></li>
                            <li class="uk-active"><a th:href="@{/produtos}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


<div class="container-fluid">
    <h1>Usuários</h1>
    <a style="text-decoration: none;" class="uk-label uk-label-success" th:href="@{/usuarios/exportar/csv}">Exportar para CSV</a>
    <a style="text-decoration: none;" class="uk-label uk-label-success" th:href="@{/usuarios/exportar/pdf}">Exportar para PDF</a>
</div>

<div class="uk-margin uk-grid-small" uk-grid>
    <form th:action="@{/usuarios/pagina/1}" class="uk-search uk-search-default uk-width-expand" uk-search>
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">

        <span class="uk-search-icon"></span>
        <input class="uk-search-input uk-width-medium" type="search" name="keyword" th:value="${keyword}" placeholder="Filtrar..." required>
        <button class="uk-button uk-button-default" type="submit">Pesquisar</button>
        <button type="submit" class="uk-button uk-button-secondary">Limpar</button>

    </form>
</div>
<script>
    $(document).ready(function(){
        $(".uk-button-secondary").click(function(){
            $(".uk-search-input").val('');
        });
    });
</script>


<div id="confirmModal" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h4 class="uk-modal-title">Confirmar Remoção de Usuário</h4>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
        <div class="uk-modal-body">
            <span id="confirmText"></span>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a id="yesButton" class="uk-button uk-button-primary" href="#">Sim</a>
            <button class="uk-button uk-button-default uk-modal-close" type="button">Não</button>
        </div>
    </div>
</div>

<button id="buttonCadastrar" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Cadastrar</button>

<div th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
</div>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider uk-table-justify">
        <thead>
        <tr>
            <th class="uk-width-small">Código</th>
            <th class="uk-width-small">Foto</th>
            <th class="uk-width-small">Nome</th>
            <th class="uk-width-small">SobreNome</th>
            <th class="uk-width-small">Email</th>
            <th class="uk-width-small">Cargos</th>
            <th class="uk-width-small">Status</th>
            <th class="uk-width-small"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${listUsers}">
            <td>[[${user.code}]]</td>
            <td>
                <span th:if="${user.photos == null}" uk-icon="image"></span>
                <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}">

            </td>
            <td>[[${user.firstName}]]</td>
            <td>[[${user.lastName}]]</td>
            <td>[[${user.email}]]</td>
            <td>
                <span style=" margin-right: 5px;" th:each="cargo : ${user.roles}" class="uk-label uk-label" th:text="${cargo}"></span>
            </td>

            <td>
                <a style="text-decoration: none;" th:if="${user.enabled}" th:href="@{'/usuarios/' + ${user.code} + '/update/false'}" class="uk-label uk-label-success">Ativo</a>
                <a style="text-decoration: none;" th:unless="${user.enabled}"th:href="@{'/usuarios/' + ${user.code} + '/update/true'}" class="uk-label uk-label-danger">Inativo</a>
            </td>

            <td>
                <a class="link-delete" uk-icon="icon: trash" title="remover usuário"  th:userName="${user.firstName}"
                   th:href="@{'/usuarios/remover/' + ${user.code}}"></a>
                &nbsp;
                <a uk-icon="icon:pencil" th:href="@{'/usuarios/editar/' + ${user.code}}" title="edição de usuário"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="text-center m1" th:if="${totalItems > 0}">
    <span> Pag Inicial - [[${initialCount}]] Pag Final -  [[${finalCount}]] Total de usuários: [[${totalItems}]]</span>
</div>

<div class="text-center m1" th:unless="${totalItems > 0}">
    <span> Não foi possivel localizar o usuário na pesquisa</span>
</div>


<div  class="text-center m1">
    <ul class="uk-pagination uk-flex-center" uk-margin>

        <li><a th:href="@{/usuarios/pagina/1}">Pagina Inicial</a></li>

        <li><a th:href="@{'/usuarios/pagina/' + ${totalPages}}">Pagina Final</a></li>
        <li><a th:if="${currentPage > 1}"
               th:href="@{'/usuarios/pagina/' + ${currentPage - 1}}">Preview</a>
        </li>

        <li class="uk-disabled"><span>…</span></li>
        <li th:each="i : ${#numbers.sequence(1,totalPages)}">

            <a th:href="@{'/usuarios/pagina/' + *{i}}"><span th:text="${i}"></span></a>
        </li>

        <li><a th:href="@{'/usuarios/pagina/' + ${totalPages}}">Prox</a></li>
        <li><a th:href="@{'/usuarios/pagina/' + ${currentPage + 1}}">Ant</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>

    </ul>
</div>

<footer style="position: fixed; bottom: 0; width: 100%; background-color: #f5f5f5; padding: 15px; text-align: center;">
    <p> Painel Administrativo - Direitos Autorais &copy; BitCommerce</p>
</footer>

</body>

<script type="text/javascript">
 $(document).ready(function() {
  $("#buttonCadastrar").on("click",function() {
        window.location = "[[@{/usuarios/novo}]]";
    });
  });
</script>

<script th:inline="javascript">
    $(document).ready(function() {
      $(".link-delete").on("click", function(e) {
        e.preventDefault();
        var link = $(this).attr("href");
        var userName = $(this).attr("userName");

        $("#confirmText").text("Deseja remover o Usuário: " + userName);
        $("#yesButton").attr("href", link);

        UIkit.modal("#confirmModal").show();
      });
    });
  </script>

</html>